body{
    font-family: 'Poppins';
}

.greenButton{
    background-color: #408080;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}